// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.title-container {
  padding-bottom: 10px;
}
.btn  {
  border-radius: 10px;
  margin: 15px;
}
.btn-danger {
  min-width: 140px;
}
.btn-success {
  margin-top: 25px;
}
// .searchbar {
//   margin-top: 300px;
// }
.title-container  {
  margin-top: 400px;
}
.searchbar {
  background-color: rgba(255,255,255, .2);
  padding-left: 14px;
  border-radius: 8px;
}
