h2 {
  padding-bottom: 50px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.container {
  padding: 0px 150px;
}

.becomefriend {
  padding: 20px;
  background-color: #AFD8AC;
  box-shadow: 2px 4px 21px -4px rgba(0,0,0,0.75);
  margin-bottom: 20px;
}

.textarea {
  width: 670px;
}

.around {
  padding-bottom: 15px;
}

.up {
  padding-bottom: 15px;
}
