.profile-avatar {
  height: 200px;
  width: 200px;
  background: cover;
  background-position: center;
  border-radius: 50%;

}
.full-name {
  display: flex;
  justify-content: space-around

}

.profile {
  width: 50vw
}

.friend {
  width: 50vw
}
