// .main-flexbox{
//   display: flex;
//   width: 100% !important;
//   height: 100% !important;
//   position: absolute !important;
//   padding: 40px !important;


// }

// .first-flex-text{
//   flex: 50%;
// }

// .avatr {
//  width: 400px;
//  height: 300px;
//  background-size: cover;
// }


// .mini-flexbox-name{
//   display: flex;
// }

// .first-name-space {
//   padding-right: 10px
// }

// .flex-item-2 {
//   display: flex;
// }

// .container > #image-block{
//   padding: 0px 9px 4px;
// }

.banner-container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}


.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}


.left-image{
  display: flex-start;
  width: 30%;
  margin-left: 15px;
  margin-right: 10px;
  box-shadow: 9px 13px 16px -10px rgba(0,0,0,0.48);
  position: relative;
  text-align: center
}

.right-container{
  width: 70%;
  margin-right: 15px;
  box-shadow: 9px 13px 16px -10px rgba(0,0,0,0.48);
  border-radius: 10px;
}
.avatar-show {
  background-size: cover;
  background-position: center;
}
.list-inline{
  margin-bottom: 0px;
}

h5 {
  margin-bottom: 0px;
}
.absolute-bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.absolute{
  position: relative;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 400px;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.parent-container{
  padding: 0px 115px;
  display: flex;
}

.right-booking {
  height: 100%;
  margin-top: 40px;
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 8px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
}

.container {
  margin-top: 40px;
}
.rows {
  height: 50%;
  width: 100%;
  margin: 0px;
  display: flex;
  border-radius: 10px;
}

.friend-image {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.default-image {
  background-image: url('default_image.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.bottom-list {
  margin-bottom: 40px;
}


.container-map{
  display: flex;
}

.map-image{
  display: flex;
  height: 400px;
  width: 72%;
  background-color: blue;
  height: 100vh;
  position: sticky;
  top: 0;
  // position: center;
  // justify-content: center;
  // align-items: center;
}

.left-content {
  margin-top: 20px;
  flex-grow: 1;
}

.border-radius-bottom-left{
  border-radius: 0px 0px 0px 10px
}
.border-radius-bottom-right{
  border-radius: 0px 0px 10px 0px
}
.border-radius-top-left{
  border-radius: 10px 0px 0px 0px
}


.border-radius-top-right{
  border-radius: 0px 10px 0px 0px
}

// reviews section
.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}



