.banner-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;

}
.avatr {
  height: 400px;
  width: 600px;
  background-size:cover;
}

.flexbox-show{
  flex-wrap: wrap;
}
