.signupcontainer {
  padding: 20px;
  width: 640px;
  margin: 0 auto;

}

.formground {
  padding: 20px;
  background-color: #AFD8AC;
  box-shadow: 2px 4px 21px -4px rgba(0,0,0,0.75);
  margin-bottom: 20px;
}

.form-actions {
  padding-bottom: 50px;
  padding-top: 25px;
}

.around {
  padding-bottom: 20px;
}
.form-control {
  width: 70%;
}

