 <div class="container">
  <div class="becomefriend">
    <h2>Edit your ad</h2>
    <%= render 'form' %>
  </div>
</div>
<div class="container">
<%= link_to "Become unfriendly :'(", friend_path(@friend), method: :delete %>
</div>
