
<div class="banner-container">
  <div class="left-image">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <div>
        <h3 class="name-space">Hi, my name is </h3>
        <h4><%= @user_friend.first_name %> <%= @user_friend.last_name%></h4>
      </div>
    </div>
  </div>
  <div class="right-image">
    <div class="card-category absolute" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <div id="age-stars">
        <h5>placeholder age</h5>
        <ul class="list-inline">
          <li>
            <h6><i class="far fa-star"></i></h6>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="parent-container">
  <div class="left-content">


    <div class="left-description-section">
      <div class="about-section">
        <h4>About</h4>
      </div>
      <div class="left-description">
        <h5>Description</h5>
        <p>
          <%= @friend.large_description %>
        </p>
      </div>
    </div>
    <div class="container-map">
      <div class="map-image" col-sm-7 offset  >
      </div>
    </div>


  </div>



    <div class="right-booking">
      <div class="booking-box">
        <h4>
          Book a Friend Details
        </h4>
        <div class="booking-description-section">
          <div class="description-left">
            <ul class="list-inline bottom-list">
              <li>
                <h5>$$$....</h5>
              </li>
              <li>
                <h5>Per Hour</h5>
              </li>
            </ul>
          </div>
        </div>
        <%= link_to "Book Friend", new_friend_friendship_path(@friend), class: "btn btn-flat" %>
      </div>
  </div>

</div>








