<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517840933437-c41356892b35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <div>
    <div class="title-container">
      <h1>Buddy And Me</h1>
      <p>You'll never be lonely.</p>
    </div>


    <div class="searchbar">
      <form class="form-inline">
        <input type="text" class="form-control" id="location-field" placeholder="Location">
        <select class="form-control" id="select-language">
          <option id="language-dropdown" selected>Language</option>
          <option>English</option>
          <option>French</option>
          <option>Spanish</option>
          <option>Italian</option>
        </select>
        <a href="">
          <button type="button" class="btn btn-danger">Search</button>
        </a>
      </form>
    </div>
  </div>
</div>





<!-- display: flex; align-items: center; on the form-inline -->
