<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div>
    <div class="title-container">
      <h1>Buddy And Me</h1>
      <p>You'll never be lonely.</p>
    </div>


    <div class="searchbar">
      <form class="form-inline">
        <input type="text" class="form-control" placeholder="Location">
        <select class="form-control" id="select-language">
          <option selected>Language</option>
          <option>English</option>
          <option>French</option>
          <option>Spanish</option>
          <option>Italian</option>
        </select>
        <a href="">
          <i class="fas fa-search"></i>
        </a>
      </form>
    </div>
  </div>
</div>





<!-- display: flex; align-items: center; on the form-inline -->
