.searchbar {
  display: flex;
  justify-content: center;
  text-align:center;
  align-items: center;
}

.fas {
  padding: 9px;
  background: red;
  color: white;
  border-radius: 2px;
}

#location-field {
  border-radius: 6px;
}

.btn-danger {
  border-radius: 6px;
  margin-bottom: 4px;
}

.form-control {
  color: #797979;
}
