<div class="wrapper">
  <div class="container">
    <div class="card">
      <div class="profile">
        <div class="profile-avatar" style="background-image: url('<%= cl_image_path current_user.avatar.url %>')">
        </div>
      </div>

      <div class="friend">
      </div>
      </div>

      <div class="overview">
        <div class="full-name">
          <h2>
            <%= @user.first_name %>
           <%= @user.last_name  %>
          </h2>
        </div>
      </div>
  </div>
</div>
