<div class="wrapper">
  <div class="container">
    <div class="profile">
      <div class="profile-avatar" style="background-image: url('<%= cl_image_path current_user.avatar.url %>')">
      </div>
      <div class="full-name">
        <h2>
          <%= @user.first_name %>
        </h2>
        <h2>
          <%= @user.last_name %>
        </h2>
      </div>
    </div>
    <div class="friend">

    </div>
  </div>
</div>
